@import "scss/layout/all";
@import "scss/core/all";
body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1230px;
  margin: 0 auto;
}



/*  new collection slider */

.new-collection-carousel {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.new-collection-carousel__prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-collection-carousel__next {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

.new-collection-carousel__wrap {
  margin-bottom: 24px;
  display: flex;
  transition: transform .5s;
  will-change: transform;
  position: relative;
  z-index: 1;
  height: 100%;
}

.new-collection-carousel__item {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-collection-carousel__img {
  width: 100%;
  display: block;
}

/* header top */

.header-top {
  margin: 0 auto;
  max-width: 1500px;
  padding: 12px 0;
  background-color: #1E212C;
}

.address {
  font-weight: 400;
  font-size: 14px;
  opacity: 60%;
  color: #fff;

  span {
    font-weight: 900;
    font-size: 14px;
    opacity: 60%;
    color: #fff;
  }
}

.header-top-nav {
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  opacity: 60%;
  color: #fff;
  cursor: pointer;

  p {
    margin-right: 31px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.switch-language {
  margin-left: auto;
  margin-right: 60px;

  img {
    margin-right: 12px;
  }

  div {
    font-weight: 400;
    font-size: 14px;
    opacity: 60%;
    color: #fff;
  }

  p {
    margin-right: 3px;
  }
}

.login {
  font-weight: 400;
  font-size: 14px;
  opacity: 60%;
  color: #fff;

  img {
    margin-right: 8px;
  }
}

/* header bottom */

.header-bottom {
  margin: 0 auto;
  max-width: 1500px;
  padding: 31px 0;
  background-color: #fff;
}

.logo {
  margin-right: 60px;
  cursor: pointer;
}

.header-bottom-nav {
  margin-right: auto;
  cursor: pointer;

  p {
    margin-right: 40px;
    font-weight: 700;
    font-size: 16px;
    color: #424551;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &:hover {
      color: #FF4242;
    }
  }
}

.search {
  position: relative;
  margin-right: 48px;

  input {
    padding: 11px 32px 11px 16px;
    width: 380px;
    border-radius: 4px;
    border: solid 1px #D7DADD;
    font-weight: 600;
    font-size: 14px;
    color: #424551;

    &::placeholder {
      font-weight: 600;
      font-size: 14px;
      color: #D7DADD;
    }
  }

  img {
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.favorites {
  margin-right: 40px;
  font-weight: 700;
  font-size: 16px;
  color: #424551;

  img {
    margin-right: 8px;
  }
}

.basket {
  font-weight: 900;
  font-size: 12px;
  color: #fff;

  img {
    margin-right: 8px;
  }

  span {
    border-radius: 4px;
    padding: 2px 8px;
    background-color: #03CEA4;
  }
}

/* anchor-discount */

.anchor-discount {
  margin: 0 auto;
  max-width: 1500px;
  padding: 8px 0;
  background-color: #17696A;

  a {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
  }

  span {
    margin-right: 4px;
    font-weight: 900;
    font-size: 12px;
    color: #fff;
  }
}

/* section new-collection */

.new-collection {
  margin: 0 auto;
  max-width: 1500px;
  background-image: url(./images/image1.png);
  background-size: cover;
  height: 800px;
}
