.anchor-discount.d-flex.jc-center
    button.b-carousel__prev.js-carousel__prev
        img(src=require('../images/line.png') alt='')
    .wrap
        .b-carousel.js-carousel
            .b-carousel__wrap.js-carousel__wrap
                .b-carousel__item
                    span Up to 70% Off.
                    a(href='#') Shop our latest sale styles
                .b-carousel__item
                    span Up to 80% Off.
                    a(href='#') Shop our latest sale styles
                .b-carousel__item
                    span Up to 90% Off.
                    a(href='#') Shop our latest sale styles
    button.b-carousel__next.js-carousel__next
        img(src=require('../images/line.png') alt='')