header.header
    .header-top
        .container
            .d-flex.jc-space-between.ai-center
                .address
                    | Available 24/7 at
                    span
                        | (405) 555-0128
                nav.header-top-nav.d-flex.jc-space-between.ai-center
                    p Delivery &amp; returns
                    p Track order
                    p Blog
                    p Contacts
                .switch-language.d-flex.ai-center
                    img(src= require ('../images/flag_usa.png') alt='flag_usa')
                    .d-flex.jc-space-between.ai-center
                        p Eng / $
                        img(src=require('../images/arrow_to_down.png') alt='arrow_to_down')
                .login.d-flex.ai-center
                    img(src= require('../images/profile.png') alt='profile')
                    div Log in / Register
    .header-bottom
        .container
            .d-flex.jc-space-between.ai-center
                .logo
                    img(src= require('../images/logo.png') alt='logo')
                nav.header-bottom-nav.d-flex.jc-space-between.ai-center
                    p Women
                    p Men
                    p Girls
                    p Boys
                    p Sale
                .search.d-flex.jc-space-between.ai-center
                    input(type='search' placeholder='Search for products...')
                    img(src= require('../images/search.png') alt='')
                .favorites.d-flex.jc-space-between.ai-center
                    img(src= require('../images/outline.png') alt='')
                    p 2
                .basket.d-flex.jc-space-between.ai-center
                    img(src=require('../images/cart.png') alt='')
                    span 4