section.new-collection
    .container
        button.new-collection-carousel__prev.js-carousel__prev
            img(src=require('../images/line.png') alt='')
        .wrap
            .new-collection-carousel.js-carousel
                .new-collection-carousel__wrap.js-carousel__wrap
                    .new-collection-item.b-carousel__item
                        p New collection
                        h1 Menswear 2020
                        .btn Shop sale
                        .btn Shop the menswear
                        img(src='#' alt='')
                    .new-collection-item.b-carousel__item
                        p New collection
                        h1 Menswear 2021
                        .btn Shop sale
                        .btn Shop the menswear
                        img(src='#' alt='')
                    .new-collection-item.b-carousel__item
                        p New collectionjk
                        h1 Menswear 2021
                        .btn Shop sale
                        .btn Shop the menswear
                        img(src='#' alt='')
        button.new-collection-carousel__next.js-carousel__next
            img(src=require('../images/line.png') alt='')